body {
    background: #e6f7e2;
width: 80%;
   margin: auto;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
p{
    font-size: 25px;
}
img{
align-items: center;
padding: 100px;
}