body {
    background: #000;
width: 80%;
   margin: auto;
}
h1{
    text-align: center;
    background-color: blueviolet;
    color: rgb(0, 0, 0);
}
p{
    background-color: aliceblue;
    font-size: 25px;
}