*{
    margin: 0;
    padding: 10px;

}
body{
    background-color: rgb(179, 147, 209);
     /* Ruta relativa o absoluta */
     background-image: url(leitibg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}


h1{
    text-align: center;
  color: azure;
}

li{
    display: inline-block;
    background-color: white;
    padding: 10;
    font-size: 16px;
    width: 23%;
    margin: 0;
    text-align: center;  
}
a{
  text-decoration: none;
  color: black;
}
footer{
  background-color: white;
  padding: 10px;
  margin: 0;
}
.img2{
  float: right;
}
.img4{
  float: right;
}
