*{
    margin: 0;
    padding: 10px;

}
body{
    background-color: rgb(179, 147, 209);
    
  background: url(leitibg.jpg); /* Ruta relativa o absoluta */
  background-size: cover;
}


h1{
    text-align: center;
color: azure;
}

li{
    display: inline-block;
    background: #a3a2a2;
    padding: 10;
    font-size: 16px;
    width: 23%;
    margin: 0;
    text-align: center;  
}

.main-nav a:hover,
.main-nav a.active {
  color: #f0a;  
}
