html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    border: 10px;
    color: black;
    background-image: url(leitilinks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    background-color: yellow;
}
div{
    flex: 1;
    text-align: center;
}
h2 > a {
    color: yellow;
}
div > p {
    color: white;
}
h1:hover {
    color: rgb(124, 124, 111);
}
footer {
    background-color: yellow;
    text-align: center;
    padding: 10px;
}
