body{
    background-image:url(trap\ catala.png)
}
a:nth-of-type(2){
    font-size: 100px;
}
a:nth-of-type(1){
font-size: 40px;
}
p{
    color: red;
    font-size: 40px;
}
h1{
    text-align: center;
    font-size: 40px;
}
