body{
    background-image:url(trap\ catala.png)
}
a:nth-of-type(1){
font-size: 30px;
}
a:nth-of-type(2){
    font-size: 30px;
}
a:nth-of-type(3){
    font-size: 30px;
}

p>a:nth-of-type(1){
font-size: 40px;
color: purple;   
}
p:nth-of-type(2)>a:nth-of-type(1){
font-size: 40px;
color: rgb(255, 255, 255); 
text-decoration: underline;  
}
p{
    color: rgb(255, 255, 255);
    font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2%;
}
h1{
    text-align: center;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}